<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.aiDataset.dao.AiDatasetDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        t_ai_dataset.dataset_id,
        t_ai_dataset.name,
        t_ai_dataset.description,
        t_ai_dataset.permission,
        t_ai_dataset.type,
        t_ai_dataset.ext_knowledge_id,
        t_ai_dataset.ext_knowledge_key,
        t_ai_dataset.create_by,
        t_ai_dataset.create_by_name,
        t_ai_dataset.create_time,
        t_ai_dataset.update_by,
        t_ai_dataset.update_time,
        t_ai_dataset.update_by_name,
        t_ai_dataset.deleted_flag
    </sql>

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.aiDataset.domain.vo.AiDatasetVO">
        SELECT
        <include refid="base_columns"/>
        FROM t_ai_dataset
        <where>
            <!--关键字查询-->
            <if test="queryForm.keyword != null and queryForm.keyword != ''">
                AND (
                  INSTR(t_ai_dataset.dataset_id,#{queryForm.keyword})
                  OR INSTR(t_ai_dataset.name,#{queryForm.keyword})
                  OR INSTR(t_ai_dataset.description,#{queryForm.keyword})
                )
            </if>
            <!--知识库类型-->
            <if test="queryForm.type != null">
                AND t_ai_dataset.type = #{queryForm.type}
            </if>
            <!--知识库权限-->
            <if test="queryForm.permission != null">
                AND t_ai_dataset.permission = #{queryForm.permission}
            </if>
        </where>
    </select>

    <update id="batchUpdateDeleted">
        update t_ai_dataset set deleted_flag = #{deletedFlag}
        where dataset_id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <update id="updateDeleted">
        update t_ai_dataset set deleted_flag = #{deletedFlag}
        where dataset_id = #{datasetId}
    </update>

</mapper>
